Estilização template */
*{
    box-sizing: border-box;
}

.background-image {
    background-image: url('/static/img/logistic.jpg');
    background-size: cover;
}

.text-color{
    color: #fff;
}

 /* Estilização cadastro e login */
 .sidebar{
    background-color: #1F2E5B;
    height: 100vh;
}


.logo_sidebar{
    text-align: center;
}

.img_logo_sidebar{
    width: 100%;
    height: auto;
 

}

.sidebar{

    background-image: url();

}

.area_cadastrar{
    margin-top: 1%;
    margin-left: 15%;
    width: 70%;
}

.titulo{

    font-weight: bold;
    color: #1F2E5B;

}

.sub-titulo{
    color: gray;
}

.input-form{
    margin-top: 15px;
    width: 100%;
    padding: 5px;
    outline: 0;

}

.input-form:focus{

    border: 2px solid #1F2E5B !important;
    outline: 0 !important;
    box-shadow: none !important;

}

.bold{
    font-weight: bold;
}

.btn-first{

    border: none;
    padding: 5px 15px 5px 15px;
    font-size: 25px;
    background-color: #1F2E5B;
    color: white;
    font-weight: bold;
    border-radius: 10px;

}