{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block 'head' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    <!-- jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Pacote Bootstrap JS (inclui Popper.js) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- script HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>

    <title>{% block 'title' %}Requerimento{% endblock 'title' %}</title>
    {% endblock %}
</head>

{% if user.is_authenticated %}
<body class="background-image">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand m-3" href="#"><h2 style="color: orange;">SPEEDLOGI</h2></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDarkDropdown">
                <!-- campo de pesquisa -->
                
                <!-- <form class="d-flex" action="#" method="GET">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar solicitações" aria-label="Search" name="search">
                    <button class="btn btn-outline-light" type="submit">Pesquisar</button>
                </form> -->
                
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <h5><i class="bi bi-person-badge"></i> {{user.username}}</h5>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{% url 'sair' %}"><i class="bi bi-box-arrow-right"></i>  Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}


      <!-- Rodapé -->
      {% if user.is_authenticated %}
        <footer class="fixed-bottom bg-dark text-white text-center py-2">
          <p class="text-sm">&copy; 2024 - Developed by Filipe Vieira</p>
        </footer>
      {% endif %}
      
      {% if not user.is_authenticated %}
        <div class="footer-container">
          <footer class="fixed-bottom bg-dark text-white text-center py-2" style="width: 80%; left: 25%;">
              <p>&copy; 2024 - Developed by Filipe Vieira</p>
          </footer>
        </div>
      {% endif %}

    {% block 'body' %}

    {% endblock 'body' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>